// buttons

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 0 20px;
    background: #f8f8fb;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 6px;
    user-select: none;
    + .btn {
        &:not(.btn--no-margin) {
            margin-left: 20px;
        }
    }

    &--text {
        color: #9e9da8;
        font-weight: 400;
        background: transparent;
    }

    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }

    &--primary {
        background: #ffb700;
        color: #1a162e;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }
    &--rounded {
        border-radius: 99px;
    }

    &:hover {
        opacity: 0.9;
    }
}
