<div class="container">
    <div class="footer-inner">
        <div class="row row-cols-4 row-cols-lg-2 row-cols-sm-1">
            <div class="col">
                <a href="./" class="logo">
                    <img
                        src="./asset/icons/logo.svg"
                        alt="grocerymart"
                        class="logo__img"
                    />
                    <h1 class="logo__title">grocerymart</h1>
                </a>
                <p class="footer-desc">
                    Need to help for your dream Career? trust us. With Lesson,
                    study becomes a lot easier with us.
                </p>
                <a href="#!" class="footer-icon">
                    <img src="./asset/icons/Twitter.svg" alt="" class="icon" />
                    <img src="./asset/icons/Facebook.svg" alt="" class="icon" />
                    <img src="./asset/icons/Linkedin.svg" alt="" class="icon" />
                    <img
                        src="./asset/icons/Instagram.svg"
                        alt=""
                        class="icon"
                    />
                </a>
            </div>

            <div class="col">
                <div class="footer-list">
                    <h3 class="footer-title"><a href="#!">Company</a></h3>
                    <ul class="footer-item">
                        <li><a href="#!" class="footer-link">About Us</a></li>
                        <li><a href="#!" class="footer-link">Features</a></li>
                        <li>
                            <a href="#!" class="footer-link">Our Pricing</a>
                        </li>
                        <li>
                            <a href="#!" class="footer-link">Latest News</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="footer-list">
                    <h3 class="footer-title"><a href="#!">Support</a></h3>
                    <ul class="footer-item">
                        <li><a href="#!" class="footer-link">FAQ’s</a></li>
                        <li>
                            <a href="#!" class="footer-link"
                                >Terms & Conditions</a
                            >
                        </li>
                        <li>
                            <a href="#!" class="footer-link">Privacy Policy</a>
                        </li>
                        <li><a href="#!" class="footer-link">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="footer-list">
                    <h3 class="footer-title"><a href="#!">Address</a></h3>
                    <ul class="footer-item">
                        <li class="footer-item__list">
                            <span class="high-up">Location:</span>
                            <a href="#!" class="footer-link--btn"
                                >27 Division St, New York, NY 10002, USA</a
                            >
                        </li>
                        <li class="footer-item__list">
                            <span class="high-up">Email:</span>
                            <a href="#!" class="footer-link--btn"
                                >email@gmail.com</a
                            >
                        </li>
                        <li class="footer-item__list">
                            <span class="high-up">Phone:</span>
                            <a href="#!" class="footer-link--btn"
                                >+ 000 1234 567 890</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div
                class="col col-6 offset-4 offset-xl-3 col-lg-9 offset-lg-2 col-md-12 offset-md-0"
            >
                <p class="desc-bottom">
                    Copyright ©2022 webdesign.gdn All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>
